{%extends "Homepage3.html"%}
{%block content%}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 50%;
        margin: 50px auto;
        border-collapse: collapse;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    h4 {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    tr:last-child h4 {
        border-bottom: none;
    }

    td {
        padding: 10px;
    }

</style>
<center>
    <table>
        <tr>
            <td><h4>Contact</h4></td>
            <td><h4>+91-86684682</h4></td>
        </tr>
        <tr>
            <td><h4>Email Id</h4></td>
            <td><h4>affankhan2108outlook.com</h4></td>
        </tr>
        <tr>
            <td><h4>Whatsapp</h4></td>
            <td><h4>+91-86684682</h4></td>
        </tr>
    </table>
</center>
{%endblock%}
